/*
<!--Ian Denis-->
<!--IntroCS pd2 sec2-->
<!--HW05 -- Stuylin'-->
<!--2021-2-18-->
*/

/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
where each declaration is of the form
PROPERTY : VALUE;
 */

h1 {
font-family:"Papyrus"; 
color: pink; 
background-color: black; 
font-size: 30;
border-style: dashed
/*Font-family controls which fonts you can use. h1 elements have Papyrus font. Font-size controls how big or small the words are. h1 
elements have a font size of 30. Border-style controls the different decorative lines that can surround the words. h1 elements have a dashed border.*/
 }
h2 {
font-family:Copperplate; 
color: purple;
font-size: 20;
text-shadow: 2px 2px 5px blue;
/*Text-shadow allows for a second color to be written behind the word. The 5px allows the color to blend with the words, instead of it looking 
like separate entities. h2 elements have a blue blur.*/
}
h3 {
color:orange;
font-family:Lucida Handwriting;
color: red;
background-color: black; 
font-size: 20;
}
p {
  font-variant: small-caps;
  /*Small-caps allows all lowecase letters to be uppercase but it is a smaller font.*/
  
}
body {
  background-color: lavender;
  border-style: double;
  border-color: blue;
  font-variant: small-caps;
  /*border-color changes the color of the border*/
li {
  font-family: "Lucida Console"
  /*The table of contents has a Lucida Console font*/
}
img {
  border-radius: 8px;
  /*The images should have rounded edges.*/
}
a {
	color: blue
	/*changes link colors*/
}

